.vscode
.vscode/
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

.DS_Store
com.thelocalmarketplace.software.test/src/halfassedtests/LabelTests.java
com.thelocalmarketplace.software/com.thelocalmarketplace.software.iml
*.xml
com.thelocalmarketplace.hardware_0.3.3/com.thelocalmarketplace.hardware_0.3.3.iml
com.thelocalmarketplace.software.test/com.thelocalmarketplace.software.test.iml
.idea/.gitignore
